body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f4f4f9;
}

#poll-container {
  margin-top: 50px;
}

#options button {
  margin: 10px;
  padding: 10px;
  font-size: 18px;
}

#status {
  margin-top: 20px;
}
